.order-section {
    margin: 0.5rem;
}

.order-section2{
    display: flex;
    flex-Wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .order-section {
        margin: 0.5rem 4rem;
    }
}