.product-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 300px;
  min-width: 300px;
  /* width: 70vw; */
  padding-bottom: 1rem;
  overflow: hidden;
}
.product-container:hover {
  border: 0.5px solid black;
}

/* .product-container img {
  height: 45vw;
  max-height: 350px;
  min-height: 300px;
} */

.product-container p {
  margin: 0;
}

.price-product {
  position: absolute;
  bottom: 5px;
  background-color: white;
  left: 8px;
}

.img-display {
  width: 100%;
  height: 300px;
}

.category-product {
  color: #666666;
  padding: 0 8px;
}

.title-product {
  padding: 0 8px;
}

.wish-logo {
  position : absolute;
  top: 10px;
  right: 10px;
}

.product-img {
  position: relative;

}

@media (min-width: 740px) {
}
